@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

Link {
  font-weight: 500;
  text-decoration: inherit;
}
Link:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  /* place-items: center;  */
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (width: 414px) and (height: 736px) {
  .loading-page div {
    margin-top: 300px;
  }

  .Land-fire-boy img { 
    width: 295px;
    height: 270px;
    margin-left: 60px;
    margin-top: -13px;
  }

  .lvs .borImg {
    width: 130px;
    margin-left: 142px;
  }

  .lvs .coinBal {
    top: 363px;
  }

  .lvs .coinBal2 {
    top: 351px;
  }
  .lvs .coinBal3 {
    top: 364px;
  }

  .lvs .coinBal4 {
    top: 353px;
  }
  
  .lvs-arrors .arror {
    margin-top: -520px;
    gap: 110px;
  }

  .wallet img {
    width: 170px;
    height: 140px;
  }

  .wallet .texCon {
    font-size: 18px;
  }

  .wallet h3 {
    font-size: 25px;
  }

  .wallet .connet {
    font-size: 12px;
  }

  .frens {
     margin-top: 10px;
  }

  .frens .nums {
    font-size: 70px;
    margin-top: -20px;
  }

  .play .Img img{
    height: 140px;
  } 

  .play .depH {
    font-size: 15px;
  }

  .play .depT {
    font-size: 12px;
  }

  .play-arrors .arror {
    margin-top: -365px;
  }

  .boost1 .ImgO {
    width: 170px;
    height: 140px;
  }

  .boost1 .ImgQ {
    width: 170px;
    height: 125px;
  }

  .boost1 .ImgI {
    width: 170px;
    height: 125px;
    margin-left: 90px;
  }

  .boost1 .ImgN {
    width: 170px;
    height: 150px;
    margin-left: 90px;
  }
}
