@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

Link {
  font-weight: 500;
  text-decoration: inherit;
}
Link:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  /* place-items: center;  */
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (width: 414px) and (height: 789px) {
  .loading-page div {
    margin-top: 320px;
  }

  .Land-fire-boy img { 
    width: 350px;
    height: 310px;
    margin-left: 34px;
  }

  .lvs .borImg {
    width: 180px;
    margin-left: 120px;
  }

  .lvs .coinBal {
    top: 410px;
  }

  .lvs .coinBal2 {
    top: 398px;
  }
  .lvs .coinBal3 {
    top: 413px;
  }

  .lvs .coinBal4 {
    top: 400px;
  }
  
  .lvs-arrors .arror {
    margin-top: -550px;
    gap: 160px;
  }

  .wallet img {
    width: 170px;
    height: 120px;
  }

  .frens {
     margin-top: 10px;
  }

  .play .Img img{
    height: 150px;
  } 
}
